html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 10px;
	padding: 0px;
}

.border_box{
	background-color:rgba(28, 28, 28, .9);
	width:95%;
	display: inline-block;
	position: absolute;
	margin:0px;
	padding:10px 20px 10px 20px ;
	color: #000;
	border-radius: 15px;
}

div.mapboxgl-popup-content{
	background-color:rgba(28, 28, 28, .9);
	color: white;
	width:150px;
	border-radius: 15px;
	font-weight:bold;
	padding: 10px
}

div.mapboxgl-popup-tip{
	display: none
}

.route_list{
	font-size:12px;
	line-height:20px;
	letter-spacing: 5px;
	color: white;
	cursor: pointer;
	border-radius: 50px;
	padding: 5px 10% 7px 10%;
	text-align: center;
	font-weight:bold;
	background-color:#383838;

}

.route_select{
	font-size:12px;
	line-height:20px;
	letter-spacing: 5px;
	color: white;
	cursor: pointer;
	border-radius: 50px;
	padding: 5px 10% 7px 10%;
	text-align: center;
	font-weight:bold;
}

.route_select:hover{
	color:grey
}


.bus_list2{
	width:27px;
  line-height: 27px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  display: inline-block;
	color: black;
	background-color: white;
	font-weight:bold;
	margin-right: 3px;
	margin-bottom: 1px;
	cursor: pointer;
}

.bus_select2{
	width:27px;
 line-height: 27px;
 border-radius: 50%;
 text-align: center;
 font-size: 13px;
 display: inline-block;
	color: white;
	font-weight:bold;
	margin-right: 3px;
	cursor: pointer;
	margin-bottom: 1px;
	background-color: #383838
}

.bus_select2:hover{
	color: grey

}
.byline{
	margin-top: 15px;
	display: block;
	text-align: center;
}

h1 {
	font-size:20px;
	line-height:22px;
	font-weight:300;
	margin-bottom: 15px;
	color: white;
	text-align: center;
	letter-spacing: 3px;
	font-weight:600;
}

h2 {
	font-size:16px;
	line-height:20px;
	font-weight:350;
	color: white;
	text-align: left;
	margin-bottom: 5px;
	display: block;
}

h3 {
	font-size:18px;
	line-height:20px;
	font-weight:350;
	color: white;
	text-align: center;
	margin-bottom: 5px;
	display: block;
}

h4 {
	color:#4f4f4f;
	font-size:12px;
	font-style: italic;
	line-height:16px;
}


@media screen and ( min-width: 500px ) {

	.border_box{
		background-color:rgba(28, 28, 28, .9);
		width:300px;
		display: inline-block;
		position: absolute;
		margin:20px;
		padding:15px;
		color: #000;
	}

	div.mapboxgl-popup-content{
		background-color:rgba(28, 28, 28, .9);
		color: white;
		width:150px;
		border-radius: 15px;
		font-weight:bold;
		padding: 10px
	}

	div.mapboxgl-popup-tip{
		display: none
	}

	body {
		margin: 0px;
		padding: 0px;
	}

	.route_list{
		font-size:14px;
		line-height:20px;
		letter-spacing: 5px;
		color: white;
		cursor: pointer;
    border-radius: 50px;
		background-color:#383838;
		padding: 5px 30px 10px 30px;
		text-align: center;
		font-weight:bold;
	}

	.route_select{
		color: white;
		font-size:14px;
		line-height:20px;
		letter-spacing: 5px;
		cursor: pointer;
		padding: 5px 30px 10px 30px;
		text-align: center;
		font-weight:bold;
	}

	.route_select:hover{
		color:grey
	}


	.bus_list2{
		width:27px;
	 line-height: 27px;
	 border-radius: 50%;
	 text-align: center;
	 font-size: 13px;
	 display: inline-block;
		color: black;
		background-color: white;
		font-weight:bold;
		margin-right: 3px;
		margin-bottom: 1px;
		cursor: pointer;
	}

	.bus_select2{
		width:27px;
	 line-height: 27px;
	 border-radius: 50%;
	 text-align: center;
	 font-size: 13px;
	 display: inline-block;
		color: white;
		font-weight:bold;
		margin-right: 3px;
		cursor: pointer;
		margin-bottom: 1px;
		background-color: #383838
	}

	.bus_select2:hover{
		color: grey

	}

	.byline{
		margin-top: 15px;
		display: block;
		text-align: center;
	}

	h1 {
		font-size:18px;
		line-height:23px;
		font-weight:300;
		margin-bottom: 15px;
		color: white;
		text-align: center;
		letter-spacing: 3px;
	}

	h2 {
		font-size:16px;
		line-height:20px;
		font-weight:350;
		color: white;
		text-align: left;
		margin-bottom: 5px;
		display: block;
	}

	h3 {
		font-size:18px;
		line-height:20px;
		font-weight:350;
		color: white;
		text-align: center;
		margin-bottom: 5px;
		display: block;
	}

	h4 {
		color:#4f4f4f;
		font-size:12px;
		font-style: italic;
		line-height:16px;
	}


}
